@font-face {
    font-family: 'SansSerifBldFLFCond';
    src: url('/fonts/SansSerifBldFLFCond.otf');
    font-weight: bold;
    font-style: normal;
}
.catalog {
   max-width: 1200px;
   color:bisque;
}
.container {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color:bisque;
   padding: 20px;

}
.cards {
   font-family: 'SansSerifBldFLFCond', sans-serif;
   width: 100%;
   text-align: center;
   margin-right: 20px;
}
.cards_photo {
   background-color:white;
   height: 50%;
   width: 20%;
   position: relative;
}
.cards_photo:before {
content: 'Sale';
position: absolute;
color: rgb(255, 255, 255, .5);
top: 0;
left: 0;
padding: 10px 15px;
background-color: rgb(150, 102, 102);
z-index: 1;
font-size: 12px;
}
.photo {
   max-width: 100%;
   height: 100%;
   width: 100%;
   border-radius: 7px;
    object-fit: cover;
   transform: scale(0.5);
}
.cards_view{
   display: none;
   padding: 15px 0px;
   background-color:white;
   position: absolute;
   bottom: -16px;
   width: 100%;
}
.prise {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}
.full_prise {
   margin-right: 15px;
   text-decoration: line-through;
}
